@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
}

body {
    background-color: #f3e5d8;
}

.omelette-pic {
    width: 500px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
}