* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: "YoungSerif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format('truetype');
}

body {
    background-color: #f3e5d8;
    display: flex;
    justify-content: center;
}

span {
    font-weight: bold;
}

@media only screen and (max-width: 410px) {
    html, body {
        margin: 0;
    }
    body {
      background-color: lightblue;
      display: flex;
    }

    .container {
        width: 80% !important;
        margin: 2em 1em !important;
        border-radius: 2 !important;
    }

    .amount {
        padding-left: 2em !important;
    }
  }

/* img styles */
.omelette-pic {
    border-radius: 15px;
    object-fit: cover;
}


/* whole container style */
.container {
    width: 50%;
    height: auto;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    margin: 10%;
}

/* First section styles */

.first-section {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "YoungSerif";
    font-size: 2.3rem;
    padding-top: 1em;
}

.para1 {
    font-family: "Outfit";
    font-size: 1rem;
    padding-top: 1em; 
    padding-bottom: .9em;
    color: hsl(30, 10%, 34%);
    width: 100%;
}

/* Preparation list styles */
.preparation {
    background-color: #fff7fc;
    margin-top: 1em;
    padding: 1.2em;
    border-radius: 15px;
    margin-bottom: 20px;
}

.prep-title {
    font-family: "Outfit";
    padding: 0px 0px 12px 10px;
    color: #812d4f;
}

.prep-list {
    font-family: "Outfit";
    font-size: .95rem;
    color: hsl(30, 10%, 34%);
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0px 0px 10px 2.5rem;
}

.prep-list li,
.ingredients-list li{
    padding-left: 1.5em;
}

.prep-list li::marker {
    font-size: .8em;
    color: #812d4f;
}

/* Ingredients Styles */

.ingredients-title {
    font-family: "YoungSerif";
    font-weight: 400;
    color: #84432f;
    padding: 0px 0px 13px 0px;

}

.ingredients {
    padding-bottom: 1em;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.ingredients-list {
    font-family: "Outfit";
    color: hsl(30, 10%, 34%);
    padding-left: 1.5em;
}

.ingredients-list li {
    padding-bottom: 0.7em;
}

.ingredients-list li::marker {
    font-size: 0.8em;
    color: #84432f;
}

/* Instrunctions Style */

.instructions {
    margin-top: 1.5em;
    padding-bottom: 1em;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.instruction-title {
    font-family: "YoungSerif";
    font-weight: 400;
    color: #84432f;
    padding-bottom: 15px;
}

.instruction-list {
    font-family: "Outfit";
    list-style-type: none;
    padding-left: 0.8em;
}

.instruction-description {
    font-family: "Outfit";
    color: hsl(30, 10%, 34%);
}

.instruction-list li{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 5% 80%;
    padding-bottom: 0.5em;
}

.number {
    font-family: "Outfit";
    color: #84432f;
    padding-right: 1.5rem;
}

/* Nutrition Section Styles */

.nutrition-title {
    font-family: "YoungSerif";
    color: #84432f;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.nutrition-para {
    font-family: "Outfit";
    color: hsl(30, 10%, 34%);
    margin-bottom: 0.5em;
}

td {
    font-family: "Outfit";
    border-top: 1px solid hsl(30, 18%, 87%);
    padding-left: 2em;
    width: 60%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: hsl(30, 10%, 34%);
}

tr:first-child td {
    border-top: none;
}

.amount {
    padding-left: 6em;
    color: #84432f;
    font-weight: bold;
}

